__pycache__/
.mypy_cache/
locale/*.mo
locale/pikaur.pot
.idea/
.coverage
htmlcov/
coverage_env/
dist/
MANIFEST
*.egg-info/

# Arch Linux
/pikaur-git

# Eclipse stuff
/.settings
/.project
# PyDev specific (Python IDE for Eclipse)
/.pydevproject
